<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <div>
                <i title="Copyrights" class="fas fa-copyright dont-transform text-warning"></i>
                 @DateTime.Now.Year All rights reserved. ClickCart Team
            </div>
        </div>
    </div>
</footer>